# Thư mục dữ liệu (Bắt buộc phải chặn để tránh phình dung lượng Docker)
data/
temp_*/

# File Excel/Data gốc nếu có lỡ để ở ngoài
*.xlsx
*.xls
*.csv

# Bộ nhớ đệm Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# File đóng gói và môi trường ảo
*.egg
*.egg-info/
dist/
build/
.venv/
env/
venv/

# Git và tài liệu không cần cho Docker chạy
.git/
.gitignore
README.md